*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
}    /* Soft Reset */



:root {

  --color-background: lightgray;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  --color-button-text: #FFFFFF;
  --color-input-background: #F8F8FC;
  --color-line-in-white: #E6E6F0;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-primary-light: #916BEA;
  --color-primary-lighter: #9871F5;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-text-base: #6A6180;
  --color-text-complement: #9C98A6;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-title-in-primary: #FFFFFF;
  
  --color-banner-top: #f7f6c0;
  --color-banner-bottom: #ffc4a2;
  --my-gradient: linear-gradient(35deg, var(--color-banner-top), var(--color-banner-bottom) 150%);
  /*--my-gradient: radial-gradient(circle, var(--color-banner-bottom), var(--color-banner-top));*/
}

body {
  background-image: var(--my-gradient);
}
header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # *
*                       Config for smartphone                        *
/* # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # */
header .content {
  display: flex;
  justify-content: space-around;
}
.content .nav ul{
  display: flex;
  list-style: none;
}
.nav li {
  padding: 0 10px;
}
.logo {
}

section{
  min-height: 85vh;
}


