*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
}    /* Soft Reset */



:root {

  --color-background: lightgray;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  --color-button-bakground: #00b2bc;
  --color-button-border: #555;
  --color-input-background: #F8F8FC;
  --color-line-in-white: #E6E6F0;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-primary-light: #916BEA;
  --color-primary-lighter: #9871F5;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-text-base: #fefefe;
  --color-text-button: #FFFFFF;
  --color-text-menu: #000;
  --color-text-complement: #9C98A6;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #03045e;
  --color-title-in-primary: #FFFFFF;
  
  --color-banner-top: #3E44F4;
  --color-banner-bottom: #009BA3;
  --my-gradient: linear-gradient(35deg, var(--color-banner-top), var(--color-banner-bottom) 100%);
  /*--my-gradient: radial-gradient(circle, var(--color-banner-bottom), var(--color-banner-top));*/
}

body {
  background-image: var(--my-gradient);
}
header {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #565656;
}
/* # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # *
*                       Config for smartphone                        *
/* # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # */
header .content {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
}
header .content a {
  color: var(--color-text-menu);
  font-family: 'Graduate', cursive;
  font-size: 1.2em;
  font-weight: 700;
}
.content .nav ul{
  display: flex;
  list-style: none;
}
.nav li {
  padding: 0 15px;
}
.logo {
  padding: 0 15px;
}

section {
  margin: 0 auto;
  width: 90vw;
  color: var(--color-text-base);
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}

section h1 {
  color: var(--color-text-title);
  text-align: center;
  padding: 15px 0;
}
section p {
  text-align: justify;
  text-indent: 2em;
}


section{
  min-height: 83vh;
}

footer{
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #222;
  margin: 20px auto 0;
  text-align: center;
  
}
footer p {
  width: 90vw;
  margin: 10px auto 0;
  color: var(--color-text-menu);
  font-family: 'Graduate', cursive;
  font-size: 1.2em;
  font-weight: 700;
}

footer .poweredBy {
  padding: 10px 0 20px;
  width: 80vw;
  max-width: 300px;
}

@media (min-width: 400px) {
  .nav li {
    padding: 0 33px;
  }
  .logo {
    padding: 0 40px;
  }
}