*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
}    /* Soft Reset */

body {
  background-color: #00B2BC;
  height: 100vh;
  width: 100vw;
}

.background-image img {
  position: absolute;
  z-index: -1;
}
.background-image-01 {
  left: 0;
  top: 0;
  height: 100%;
}
.background-image-02 {
  right: 0;
  top: 0;
  height: 100%;
}

section {
  position: relative;
  text-align: center;
  vertical-align: center;
}

.login-container {
  /*border: 2px solid #ccc;*/
  display: flex;
  flex: 1;
  margin: 10% auto 0;
}
.login-container div {
  width: 800px;
}


.ilustration img {
  width: 600px
}

.login-screen {
  background-color: #EFB92E;
  border-radius: 30px;
}