*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
}    /* Soft Reset */

body {
  background-color: #00B2BC;
  height: 100vh;
  width: 100%;
}

.background-image img {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: -1;
}
.background-image-01 {
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}
.background-image-02 {
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  display: flex;
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: calc( (100vh - 500px)/2) auto;
}
.login-container > div {
  height: 500px;
  width: 600px;
}

.ilustration {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}
.ilustration img {
  width: 600px
}

.login-screen {
  background-color: #EFB92E;
  border-radius: 30px;
  text-align: center;
}

.login-screen h1 {
  color: var(--color-text-menu);
  font-family: 'Graduate', cursive;
  font-size: 2em;
  font-weight: 700;
  
  margin: 30px auto 20px;
}
.login-screen p {
  color: var(--color-text-base);
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}
.login-screen p:first-of-type {
  margin: 0 auto 25px;
}

.field-container form div {
  display: grid; 
  grid-template-columns: 4fr 5fr;
  align-items: center;
  margin: 10px 120px;
}
.field-container label {
  color: var(--color-text-base);
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
}
.field-container input {
  height: 40px;
  width: 280px;
  margin: 0;

  border: none;
  border-radius: 20px;

  padding: 0 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
}

.form-button {
  display: block !important;
  margin: 0 auto;
}
.form-button input{
  border: 1px solid #ccc !important;
  background-color: #00B2BC;

  color: var(--color-text-base);
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  font-weight: 700;

  margin: 15px auto;
}


.login-screen a {
  text-decoration: none;
  color:var(--color-text-base);
}


.alert span {
  color: #ff2a2a;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}

.alert button {
  width: 200px;
  height: 40px;

  border: 1px solid #393;
  border-radius: 10px;
  background-color: #7CB441;
}