.error {
  text-align: center;
  margin: 50px auto;
}
.error img {
  max-width: 900px;
  width: 90%;
}

.back img {
  height: 0.8em;
  transform: rotate(180deg);
}
.back a {
  color: var(--color-text-base);
}