.machine{
  text-align: center;
  color: var(--color-text-base);
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}

.machine img {
  width: 220px;
  height: auto;
}

.machine figcaption {
  margin: 5px auto 30px;
}

.machine span {
  font-weight: bolder;
}

.on {
  color: #00F;
}
.off {
  color: #FF0;

}
.mainutence {
  color: #F00;

}

/* # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # *
*                            Config for PC                            *
/* # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # * # */
@media (min-width: 780px) { 
  .machine img {
    width: 120px;
    height: auto;
  }
  
  .machines-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}