.dashboard-graphic {
  margin-bottom: 10px;
}

.dashboard {
  min-height: 450px;
}

.dashboard-resume .data {
  position: relative;
  cursor: pointer;
}

.dashboard-resume .data::after {
  content: 'Ver produção';
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: transparent;
  transition: background-color 1s ease-in ;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;

  transition: color 1.2s ease-out ;
  -webkit-transition: color 1.2s ease-out;
  -moz-transition: color 1.2s ease-out;
  -o-transition: color 1.2s ease-out;
}
.dashboard-resume .data:hover::after {
  background-color: rgba(0, 0, 0, 0.9);
}
.dashboard-resume .data:hover:nth-of-type(1)::after {
  color: var(--dashboard-color0);
}
.dashboard-resume .data:hover:nth-of-type(2)::after {
  color: var(--dashboard-color1);
}
.dashboard-resume .data:hover:nth-of-type(3)::after {
  color: var(--dashboard-color2);
}
.dashboard-resume .data:hover:nth-of-type(4)::after {
  color: var(--dashboard-color3);
}

.dashboard-resume .data span {
  color: #FFF;
}

.view-data {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 20px;
  padding: 0;  
  font-size: 23px;
}

.view-data span:first-child,
.view-data span:last-child {
  display: none;
}

.view-data span {
  border-right: 3px solid #043946;
}
.view-data span:nth-child(11) {
  border-right: none;
}

#dinamic-graphic {
  background-color: var(--dashboard-background);
  height: 260px;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .view-data {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .view-data {
    font-size: 14px;
  }

  .view-data span:nth-child(2) {
    margin-left: 5px;
  }
}