.dashboard-graphic {
  margin-bottom: 10px;
}

.dashboard {
  min-height: 450px;
}

.view-data {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 20px;
  padding: 0;  
  font-size: 23px;
}

.view-data span:first-child,
.view-data span:last-child {
  display: none;
}

.view-data span {
  border-right: 3px solid #043946;
}
.view-data span:nth-child(11) {
  border-right: none;
}

#dinamic-graphic {
  background-color: var(--dashboard-background);
  height: 260px;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .view-data {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .view-data {
    font-size: 14px;
  }

  .view-data span:nth-child(2) {
    margin-left: 5px;
  }
}